.header {
    background-color: #03203C;
}

.header nav a {
    text-decoration: none;
    margin-right: 50px;
}

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}